<!DOCTYPE html>
<html>

<head>
    <title>ShowCase</title>
</head>

<body>

    <h1>Publicar</h1>

    <form method="POST">

        <input type="text" name="name" placeholder="Name" value="{{ project.name }}" required>

        <textarea type="text" name="description" placeholder="Description" required>{{ project.description }}</textarea>

        <textarea type="text" name="markdown" placeholder="Markdown">{{ project.markdown }}</textarea>

        <input type="text" name="github_url" placeholder="Url do GitHub" value="{{ project.github_url }}" required>

        <input type="text" name="demo_url" placeholder="Url demo do projeto" value="{{ project.demo_url }}" required>

        <button type="submit">
            Edit Project
        </button>

        <p><a href="{{ url_for('projects.user_projects', id=current_user.id) }}">Ver projetos</a></p>

    </form>

</body>

</html>